/* ----- Card Colors -----*/

$blue: #649ffd;
$green: #BED547;
$red: #d84777;
$orange: #e0981b;
$purple: #cca8e4;
$white: #fff;

//$card-width: 240px;

/*-------- Default card styling --------*/
.card{

    &:hover{
    }
    img{
    }
    .type{
        border-radius:50%;
        height:50px;
        width:50px;
        background-color:white;
        border: 2px solid white;
        margin: -25px 20px 0;
        color: $white;
    }
    .details{
        z-index:10;
        background-color: rgba($black, 0.6);
        bottom:0;
        border-top:2px solid white;
        height:100px;
        width:inherit;
        color: $white;
        h2{
            @include font-playfair(48px);
            // font-family: 'Playfair Display';
            // font-weight:900;
            // font-style: italic;
            // font-size:48px;
            float:left;
            margin:0 20px;
            width: 75px;
            //line-height: 48px;
            text-align:center;
        }
        .info{
            margin-top:10px;
            .name,
            .update-time {
                margin:5px;
            }    
        }
    }
}

/*-------- Expanded Cards --------*/

.buttons{
    button{
        height:60px;
        width:60px;
        border-radius:50%;
        border:0px solid $white;
        margin-left: 10px;
        color: $white;
        background-color: #ccc;
        &.is-on{
            background-color: darken($red, 20%);
        }
        &.is-off{
            background-color: darken($green, 20%);
        }

    }
}

$detail-info-height: 120px; 

.detail figure{
    position: relative;
    .detail-info{
        height:$detail-info-height;
        border-bottom:1px solid #ccc;
        .detail-image{
            height:$detail-info-height;
            width:$detail-info-height;
            background-size: cover;
            background-color: $black;
            position:relative;
            float:left;
            h1{
                background:rgba($black, 0.4);
                @include font-playfair(40px);
                color: $white;
                height:$detail-info-height;
                width:$detail-info-height;
                position: absolute;
                bottom:0px;
                left:0px;
                line-height:0;
                margin:0;
                padding:85px 8px 5px;

            }
        }
        h3{
            float:left;
            @include font-playfair(40px);

        }
    }
    .ct-chart{
        margin-top:20px;
        margin-left:5px;
    }
    .detail-actions{
        background-color: #ccc;
        width:100%;
        position: absolute;
        bottom:0;
        height:100px;
        .buttons{
            float:left;
        }
        .sensor-info{
            float:right;
        }
    }

}


/*-------- Card types - add to .card class --------*/
.temp{
    .details{
         border-color: $blue;
    }
    .type{
        background-color:$blue;
        border-color: $blue;
    }
}

.moisture{
    .details{
         border-color: $green;
    }
    .type{
        background-color:$green;
        border-color: $green;
    }
}

.tilt{
    .details{
         border-color: $red;
    }
    .type{
        background-color:$red;
        border-color: $red;
    }
    h2{
        font-size:30px !important;
    }
}

.electricity{
    .details{
         border-color: $orange;
    }
    .type{
        background-color:$orange;
        border-color: $orange;
    }
}

.multi-sensor{

}