li.detail.type
  figure
    .detail-info
      .detail-image(style="background-image: url('img/wine_cellar_square.jpg')")
        h1= card.output
      h3= card.name
      
    .ct-chart
    .detail-actions
      .buttons(class= card.type)
        button.entypo-mail.is-on
        button.entypo-phone.is-on
        button.entypo-chat.is-off
        button.entypo-monitor.is-off
      .sensor-info 10 minutes ago.

//- li.type
//-   figure
//-     figcaption
//-       h3= card.name
//-       p= card.output
//-     //img(src="img/wine_cellar_temp2.jpg")
//-     .ct-chart
//-     .buttons(class= card.type)
//-       button.entypo-mail.is-on
//-       button.entypo-phone.is-on
//-       button.entypo-chat.is-off
//-       button.entypo-monitor.is-off